<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление компьютера</title>
</head>
<body>
<!--th:object="${computer}-->
<form th:method="POST" th:action="@{/computer}" th:object="${computer}">

    <label for="type">Тип:</label>
    <select th:field="*{type}" id="type">
        <option th:each="type : ${T(ru.samborskiy.store.model.Enums.SelectComputerEnum).values()}"
                th:value="${type}"
                th:text="${type}">type</option>
    </select>
    <div th:object="${req}">
        <label for="serialNumber">Серийный номер:</label>
        <input type="text" th:field="*{serialNumber}" id="serialNumber"/>
        <label for="producer">Производитель:</label>
        <input type="text" th:field="*{producer}" id="producer"/>
        <label for="price">Цена:</label>
        <input type="text" th:field="*{price}" id="price"/>
        <label for="amount">Количество на складе:</label>
        <input type="text" th:field="*{amount}" id="amount"/>
    </div>
    <br/>
    <input type="submit" value="Сохранить">
</form>


<!--<label for="serialNumber">Серийный номер:</label>-->
<!--<input type="text" th:field="*{serialNumber}" id="serialNumber"/>-->
<!--<label for="producer">Производитель:</label>-->
<!--<input type="text" th:field="*{producer}" id="producer"/>-->
<!--<label for="price">Цена:</label>-->
<!--<input type="text" th:field="*{price}" id="price"/>-->
<!--<label for="amount">Количество на складе:</label>-->
<!--<input type="text" th:field="*{amount}" id="amount"/>-->


</body>
</html>