<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Обновить диск</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/hardDisk/{id}(id=${hardDisk.getId()})}" th:object="${hardDisk}">
  <label for="size">Вместимость:</label>
  <input type="text" th:field="*{size}" id="size"/>
  <div th:object="${req}">
    <label for="serialNumber">Серийный номер:</label>
    <input type="text" th:field="*{serialNumber}" id="serialNumber"/>
    <label for="producer">Производитель:</label>
    <input type="text" th:field="*{producer}" id="producer"/>
    <label for="price">Цена:</label>
    <input type="text" th:field="*{price}" id="price"/>
    <label for="amount">Количество на складе:</label>
    <input type="text" th:field="*{amount}" id="amount"/>
  </div>
  <br/>
  <input type="submit" value="Обновить">
</form>

</body>
</html>