<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавление диска</title>
</head>
<body>
<form th:method="POST" th:action="@{/hardDisk}" th:object="${hardDisk}">
    <label for="size">Вместимость:</label>
    <input type="text" th:field="*{size}" id="size"/>
    <div th:object="${req}">
    <label for="serialNumber">Серийный номер:</label>
    <input type="text" th:field="*{serialNumber}" id="serialNumber"/>
    <label for="producer">Производитель:</label>
    <input type="text" th:field="*{producer}" id="producer"/>
    <label for="price">Цена:</label>
    <input type="text" th:field="*{price}" id="price"/>
    <label for="amount">Количество на складе:</label>
    <input type="text" th:field="*{amount}" id="amount"/>
  </div>
  <br/>
  <input type="submit" value="Сохранить">
</form>
</body>
</html>